<template>
	<main>
		<div id="page">
			<div id="accueil" :style="{'background-image': 'url(./static/img/fond.png)'}">
				<div id="conteneur">
					<div id="contenu">
						<h1>
							<span>Digicut</span> <span>by La Digitale</span>
						</h1>
						<div>
							<p><strong>Digicut</strong> permet de <strong>découper un extrait</strong> d'un fichier audio ou d'une vidéo directement dans votre navigateur.</p>
							<label for="charger" id="bouton" role="button" :tabindex="!modale && message === '' && !hub ? 0 : -1" @keydown.enter="activerInput('charger')">Sélectionner un fichier</label>
							<input id="charger" type="file" @change="selectionner" accept=".mp3, .wav, .m4a, .ogg, .flac, .aac, .webm, .ogm, .ogv, .mp4, .m4v" style="display: none;">
						</div>
					</div>
					<div id="credits">
						<p><a href="https://opencollective.com/ladigitale" target="_blank" rel="noreferrer">Je souhaite apporter mon soutien ❤️.</a></p>
						<p>{{ new Date().getFullYear() }} - <a href="https://ladigitale.dev" target="_blank" rel="noreferrer">La Digitale</a> - <a href="https://codeberg.org/ladigitale/digicut" target="_blank" rel="noreferrer">Code source</a> - <a href="https://codeberg.org/ladigitale/digicut/releases" target="_blank" rel="noreferrer">v{{ version }}</a> - <span class="hub" role="button" :tabindex="!modale && message === '' && !hub ? 0 : -1" @click="ouvrirHub" @keydown.enter="ouvrirHub"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#001d1d" width="36px" height="36px"><path d="M0 0h24v24H0z" fill="none"/><path d="M4 8h4V4H4v4zm6 12h4v-4h-4v4zm-6 0h4v-4H4v4zm0-6h4v-4H4v4zm6 0h4v-4h-4v4zm6-10v4h4V4h-4zm-6 4h4V4h-4v4zm6 6h4v-4h-4v4zm0 6h4v-4h-4v4z"/></svg></span></p>
					</div>
				</div>
			</div>
			<div class="conteneur-modale" v-if="modale">
				<div id="parametres" class="modale" role="dialog" :class="{'transcodage': transcodage}">
					<header v-if="!transcodage">
						<span class="titre">{{ titreModale }}</span>
						<span class="fermer" role="button" :tabindex="message === '' ? 0 : -1" @click="fermerModale" @keydown.enter="fermerModale"><i class="material-icons">close</i></span>
					</header>
					<div class="conteneur">
						<div class="contenu" v-if="!transcodage">
							<div class="media">
								<audio id="media" controls v-if="type === 'audio'"></audio>
								<video id="media" controls v-else-if="type === 'video'"></video>
							</div>
							<div class="temps">
								<div class="boutons">
									<span class="bouton" role="button" :tabindex="message === '' ? 0 : -1" @click="definirDebut" @keydown.enter="definirDebut">Définir début de l'extrait</span>
									<span class="bouton" role="button" :tabindex="message === '' ? 0 : -1" @click="definirFin" @keydown.enter="definirFin">Définir fin de l'extrait</span>
									<span class="bouton" role="button" :tabindex="message === '' ? 0 : -1" @click="lireSelection" @keydown.enter="lireSelection">Lire la sélection</span>
								</div>
								<div class="debut">
									<span><b>Début de l'extrait :</b> {{ tempsDebut }}</span>
									<span class="bouton-supprimer" role="button" :tabindex="message === '' ? 0 : -1" @click="supprimerDebut" @keydown.enter="supprimerDebut"><i class="material-icons">delete</i></span>
								</div>
								<div class="fin">
									<span><b>Fin de l'extrait :</b> {{ tempsFin }}</span>
									<span class="bouton-supprimer" role="button" :tabindex="message === '' ? 0 : -1" @click="supprimerFin" @keydown.enter="supprimerFin"><i class="material-icons">delete</i></span>
								</div>
							</div>
							<div class="conteneur-interrupteur" v-if="type === 'video'">
								<span>Extraction précise (processus lent mais évite les sauts de frame)</span>
								<label class="bouton-interrupteur" role="button" :tabindex="message === '' ? 0 : -1" @keydown.enter="activerInput('modifier-precision')">
									<input id="modifier-precision" type="checkbox" :checked="precision === 'oui'" @change="modifierPrecision">
									<span class="barre" />
								</label>
							</div>
							<div class="actions">
								<span class="bouton" role="button" :tabindex="message === '' ? 0 : -1" @click="transcoder" @keydown.enter="transcoder">Extraire</span>
								<span class="bouton-capturer" role="button" :tabindex="message === '' ? 0 : -1" title="Faire une capture de la vidéo" @click="capturer" @keydown.enter="capturer" v-if="type === 'video'"><i class="material-icons">camera</i></span>
							</div>
						</div>
						<div class="contenu" v-else>
							<div class="conteneur-chargement">
								<div class="chargement" />
							</div>
							<div class="progression" />
						</div>
					</div>
				</div>
			</div>
			<div id="hub" :class="{'ouvert': hub}" :tabindex="hub ? 0 : -1">
				<span role="button" :tabindex="hub ? 0 : -1" @click="fermerHub" @keydown.enter="fermerHub"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#fff" width="36px" height="36px"><path d="M0 0h24v24H0z" fill="none"/><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/></svg></span>
				<iframe src="https://ladigitale.dev/hub.html" title="Le Hub by La Digitale"></iframe>
			</div>
		</div>
		<div id="conteneur-chargement" v-if="chargement">
			<div id="chargement">
				<div class="spinner"><div /><div /><div /><div /><div /><div /><div /><div /><div /><div /><div /><div /></div>
			</div>
		</div>
		<div id="conteneur-message" class="conteneur-modale" v-if="message !== ''">
			<div id="message" class="modale" role="dialog">
				<div class="conteneur">
					<div class="contenu">
						<div class="message" v-html="message" />
						<div class="actions">
							<span class="bouton" role="button" tabindex="0" @click="fermerMessage" @keydown.enter="fermerMessage">Fermer</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
</template>

<script>
import { saveAs } from 'file-saver'
// eslint-disable-next-line
const { createFFmpeg, fetchFile } = FFmpeg

export default {
	name: 'App',
	data () {
		return {
			chargement: true,
			message: '',
			notification: '',
			modale: false,
			titreModale: '',
			type: '',
			fichier: '',
			extension: '',
			ffmpeg: null,
			debut: '',
			fin: '',
			tempsDebut: '',
			tempsFin: '',
			duree: 0,
			precision: 'non',
			id: 0,
			transcodage: false,
			elementPrecedent: null,
			hub: false,
			version: app_version
		}
	},
	watch: {
		message: function (message) {
			if (message !== '') {
				this.elementPrecedent = (document.activeElement || document.body)
				this.$nextTick(function () {
					document.querySelector('#message .bouton').focus()
				})
			}
		},
		notification: function (notification) {
			if (notification !== '') {
				const element = document.createElement('div')
				const id = 'notification_' + Date.now().toString(36) + Math.random().toString(36).substring(2)
				element.id = id
				element.textContent = notification
				element.classList.add('notification')
				document.querySelector('#app').appendChild(element)
				this.notification = ''
				setTimeout(function () {
					element.parentNode.removeChild(element)
				}, 2000)
			}
		}
	},
	mounted () {
		setTimeout(function () {
			this.chargement = false
		}.bind(this), 300)

		document.addEventListener('keydown', this.gererClavier, false)

		window.addEventListener('resize', function () {
			if (this.modale === true) {
				document.querySelector('#parametres').style.height = null
				const hauteur = document.querySelector('#parametres').getBoundingClientRect().height
				const hauteurPage = document.querySelector('#app').getBoundingClientRect().height
				if (hauteur > hauteurPage * 0.9) {
					document.querySelector('#parametres').style.height = hauteurPage * 0.9 + 'px'
				}
			}
		}.bind(this))
	},
	methods: {
		activerInput (id) {
			document.querySelector('#' + id).click()
		},
		selectionner (event) {
			const fichier = event.target.files[0]
			if (fichier !== null) {
				this.id++
				this.chargement = true
				const extension = fichier.name.substring(fichier.name.lastIndexOf('.') + 1).toLowerCase()
				const audio = ['mp3', 'wav', 'm4a', 'ogg', 'flac', 'aac']
				const video = ['webm', 'ogm', 'ogv', 'mp4', 'm4v']
				if (audio.includes(extension)) {
					this.type = 'audio'
					this.titreModale = 'Découper un fichier audio'
				} else if (video.includes(extension)) {
					this.type = 'video'
					this.titreModale = 'Découper une vidéo'
				} else {
					this.chargement = false
					this.fermerModale()
					document.querySelector('#charger').value = ''
					this.message = 'Ce format de fichier n\'est pas pris en charge.'
					return false
				}
				if (fichier.size > 2048000000) {
					this.chargement = false
					this.fermerModale()
					document.querySelector('#charger').value = ''
					this.message = 'La taille maximum autorisée est de 2 Go.'
					return false
				}
				this.extension = extension
				this.fichier = fichier
				this.elementPrecedent = (document.activeElement || document.body)
				this.modale = true
				document.querySelector('#charger').value = ''
				this.$nextTick(function () {
					document.querySelector('#media').src = window.URL.createObjectURL(this.fichier)
					this.$nextTick(function () {
						document.querySelector('#media').onloadedmetadata = function () {
							this.duree = document.querySelector('#media').duration * 1000 // en ms
							this.tempsDebut = this.formaterTemps(0)
							this.tempsFin = this.formaterTemps(this.duree)
							this.chargement = false
							document.querySelector('#media').focus()
							document.querySelector('#parametres').style.height = null
							const hauteur = document.querySelector('#parametres').getBoundingClientRect().height
							const hauteurPage = document.querySelector('#app').getBoundingClientRect().height
							if (hauteur > hauteurPage * 0.9) {
								document.querySelector('#parametres').style.height = hauteurPage * 0.9 + 'px'
							}
						}.bind(this)
					}.bind(this))
				}.bind(this))
			} else {
				document.querySelector('#charger').value = ''
				this.message = 'Veuillez sélectionner un fichier audio ou une vidéo.'
			}
		},
		async transcoder () {
			document.querySelector('#parametres').style.height = null
			this.transcodage = true
			this.$nextTick(function () {
				const element = document.querySelector('#parametres .progression')
				element.innerHTML = '<span id="progression-' + this.id + '">Démarrage de l\'extraction…</span>'
			}.bind(this))
			this.ffmpeg = createFFmpeg({ log: false })
			if (!this.ffmpeg.isLoaded()) {
				await this.ffmpeg.load()
			}
			let fichierTranscode = this.fichier.name.substring(0, this.fichier.name.lastIndexOf('.')) + '_transcode.' + this.extension
			if (this.debut === '') {
				this.debut = '0ms'
			}
			if (this.fin === '') {
				this.fin = parseFloat(this.duree) + 'ms'
			}
			const dureeExtrait = parseFloat(this.fin) - parseFloat(this.debut)
			const ratioProgression = this.duree / dureeExtrait
			this.ffmpeg.FS('writeFile', this.fichier.name, await fetchFile(this.fichier))
			setTimeout(function () {
				this.ffmpeg.setProgress(function ({ ratio }) {
					const progression = Math.ceil((ratio * ratioProgression) * 100)
					if (document.querySelector('#progression-' + this.id) && progression <= 100) {
						document.querySelector('#progression-' + this.id).textContent = 'Extraction en cours : ' + progression + '%'
					} else {
						document.querySelector('#progression-' + this.id).textContent = 'Extraction en cours : ' + '100%'
					}
				}.bind(this))
			}.bind(this), 500)
			if (this.precision === 'non') {
				await this.ffmpeg.run('-i', this.fichier.name,  '-ss', this.debut, '-to', this.fin, '-c', 'copy', fichierTranscode)
			} else {
				await this.ffmpeg.run('-i', this.fichier.name,  '-ss', this.debut, '-to', this.fin, fichierTranscode)
			}
			const donnees = this.ffmpeg.FS('readFile', fichierTranscode)
			setTimeout(function () {
				saveAs(new Blob([donnees.buffer], { type: this.type + '/' + this.extension }), fichierTranscode)
				this.notification = 'Extrait téléchargé.'
				this.fermerModale()
			}.bind(this), 500)
		},
		async capturer () {
			this.chargement = true
			this.ffmpeg = createFFmpeg({ log: false })
			if (!this.ffmpeg.isLoaded()) {
				await this.ffmpeg.load()
			}
			const capture = this.fichier.name.substring(0, this.fichier.name.lastIndexOf('.')) + '_capture.jpg'
			const temps = document.querySelector('#media').currentTime
			const position = parseFloat(temps * 1000) + 'ms'
			this.ffmpeg.FS('writeFile', this.fichier.name, await fetchFile(this.fichier))
			await this.ffmpeg.run('-ss', position, '-i', this.fichier.name, '-frames:v', '1', '-q:v', '2', capture)
			const donnees = this.ffmpeg.FS('readFile', capture)
			setTimeout(function () {
				this.chargement = false
				saveAs(new Blob([donnees.buffer], { type: 'image/jpeg' }), capture)
				this.notification = 'Capture téléchargée.'
			}.bind(this), 250)
		},
		fermerModale () {
			this.modale = false
			this.titreModale = ''
			this.type = ''
			this.fichier = ''
			this.extension = ''
			this.transcodage = false
			this.debut = ''
			this.fin = ''
			this.tempsDebut = ''
			this.tempsFin = ''
			this.duree = 0
			this.precision = 'non'
			if (this.ffmpeg !== null) {
				try {
					this.ffmpeg.exit()
				} catch (e) {
					console.log(e)
				}
			}
			this.ffmpeg = null
			this.gererFocus()
		},
		definirDebut () {
			const temps = document.querySelector('#media').currentTime
			const debut = parseFloat(temps * 1000)
			this.debut = debut + 'ms'
			this.tempsDebut = this.formaterTemps(debut)
		},
		definirFin () {
			const temps = document.querySelector('#media').currentTime
			const fin = parseFloat(temps * 1000)
			this.fin = fin + 'ms'
			this.tempsFin = this.formaterTemps(fin)
		},
		lireSelection () {
			const media = document.querySelector('#media')
			let debut
			if (this.debut === '') {
				debut = 0
			} else {
				debut = parseFloat(this.debut) / 1000
			}
			media.currentTime = debut
			media.play()
			media.addEventListener('timeupdate', this.verifierTemps)
		},
		verifierTemps (event) {
			const media = document.querySelector('#media')
			let fin
			if (this.fin === '') {
				fin = parseFloat(this.duree) / 1000
			} else {
				fin = parseFloat(this.fin) / 1000
			}
			if (event.target.currentTime >= fin) {
				media.pause()
				media.removeEventListener('timeupdate', this.verifierTemps)
			}
		},
		formaterTemps (temps) {
			let heures = Math.floor((temps / (1000 * 60 * 60)) % 24)
			let minutes = Math.floor((temps / (1000 * 60)) % 60)
			let secondes = Math.floor((temps / 1000) % 60)
			let millisecondes = Math.floor((temps % 1000) / 100)
			if (minutes < 10) {
				minutes = '0' + minutes
			}
			if (secondes < 10) {
				secondes = '0' + secondes
			}
			let tempsFormate
			if (heures === 0) {
				tempsFormate = minutes + ':' + secondes + '.' + millisecondes + ' (MM:SS.ms)'
			} else {
				tempsFormate = heures + ':' + minutes + ':' + secondes + '.' + millisecondes + ' (H:MM:SS.ms)'
			}
			return tempsFormate
		},
		supprimerDebut () {
			this.debut = ''
			this.tempsDebut = this.formaterTemps(0)
		},
		supprimerFin () {
			this.fin = ''
			this.tempsFin = this.formaterTemps(this.duree)
		},
		modifierPrecision (event) {
			if (event.target.checked === true) {
				this.precision = 'oui'
			} else {
				this.precision = 'non'
			}
		},
		fermerMessage () {
			this.message = ''
			this.gererFocus()
		},
		gererClavier (event) {
			if (event.key === 'Escape' && this.message !== '') {
				this.message = ''
			} else if (event.key === 'Escape' && this.modale && !this.transcodage) {
				this.fermerModale()
			} else if (event.key === 'Escape' && this.hub) {
				this.hub = false
				this.gererFocus()
			}
		},
		gererFocus () {
			if (this.elementPrecedent) {
				this.elementPrecedent.focus()
				this.elementPrecedent = null
			}
		},
		ouvrirHub () {
			this.elementPrecedent = (document.activeElement || document.body)
			this.hub = true
			this.$nextTick(function () {
				document.querySelector('#hub span').focus()
			})
		},
		fermerHub () {
			this.hub = false
			this.gererFocus()
		}
	}
}
</script>

<style src="destyle.css/destyle.css"></style>
<style src="@/assets/css/style.css"></style>

<style>
#page,
#accueil {
	width: 100%;
	height: 100vh;
}

#accueil {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

#conteneur {
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
	flex-wrap: wrap;
	overflow: auto;
}

#contenu {
	max-width: 76em;
	text-align: center;
	padding: 12em 1em 6em;
	margin: auto;
}

#conteneur h1 {
    font-family: 'HKGrotesk-Black', sans-serif;
    font-size: 3em;
	font-weight: 400;
    margin-bottom: 0.85em;
    line-height: 1.4;
}

#conteneur p {
    font-size: 1.25em;
    line-height: 1.4;
    margin-bottom: 1.5em;
}

#credits {
	width: 100%;
	margin: 0 auto 0.75em;
}

#credits p {
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 1em;
	text-align: center;
}

#credits p:last-child {
	display: flex;
	justify-content: center;
	align-items: center;
}

#credits p:last-child a {
	margin: 0 5px;
}

#credits .hub {
	font-size: 0;
	cursor: pointer;
}

#hub {
	position: fixed;
	visibility: hidden;
	opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
	z-index: -1;
}

#hub.ouvert {
	visibility: visible;
	opacity: 1;
    animation: fonduEntrant linear 0.1s;
	z-index: 100000;
}

@keyframes fonduEntrant {
    from { opacity: 0; }
    to   { opacity: 1; }
}

#hub iframe {
	width: 100%;
    height: 100%;
}

#hub span {
	font-size: 0;
	color: #fff;
	position: absolute;
	top: 15px;
	right: 15px;
	cursor: pointer;
}

@media screen and (max-width: 359px) {
	#contenu {
		padding: 4em 1em 2em;
	}

	#bouton {
		font-size: 0.75em!important;
	}

	.modale .conteneur input[type="number"] {
		width: 50px;
		padding: 10px 5px;
	}
}

@media screen and (min-width: 360px) and (max-width: 599px) {
	#contenu {
		padding: 5em 1em 2.5em;
	}

	.modale .conteneur input[type="number"] {
		width: 60px;
		padding: 10px;
	}
}

@media screen and (max-width: 399px) {
	#conteneur h1 span {
		display: block;
	}
}

@media screen and (max-width: 599px) {
	#conteneur h1 {
		font-size: 2em;
		margin-bottom: 1em;
	}

	#conteneur p {
		font-size: 1em;
		margin-bottom: 1.2em;
	}
	
	#bouton {
		font-size: 0.85em;
	}
	
	#credits p {
		font-size: 0.85em;
	}

	#hub span {
		top: 5px;
		right: 5px;
	}
	
	#hub span svg {
		width: 24px;
		height: 24px;
	}
}

@media screen and (max-width: 599px) and (orientation: landscape) {
	#contenu {
		padding: 2em 1em 1.5em!important;
	}
}

@media screen and (min-width: 600px) and (max-width: 820px) and (orientation: landscape) {
	#contenu {
		padding: 3em 1em 1.5em!important;
	}
}

@media screen and (max-width: 820px) and (orientation: landscape) {
	#conteneur p {
		font-size: 1em!important;
	}
	
	#credits p {
		font-size: 0.85em!important;
		margin-bottom: 0.85em!important;
	}
}

@media screen and (max-width: 1023px) and (orientation: landscape) {
	#contenu {
		padding: 7em 1em 3.5em;
	}
}

@media screen and (max-width: 850px) and (max-height: 500px) {
	#conteneur h1 {
		font-size: 2em;
		margin-bottom: 1em;
	}

	#conteneur p {
		font-size: 1em;
		margin-bottom: 1.2em;
	}
	
	#bouton {
		font-size: 0.85em!important;
	}
	
	#credits p {
		font-size: 0.85em;
	}
}
</style>
